@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Roboto:ital@0;1&display=swap');

*{
    padding: 0;
    margin: 0;
}

/* Los 3 Breackpoints estan echos con bts, en las consignas del pdf dice que lo ideal es combinar los 2 metos de responsive que vimos pero no es obligatorio usar ambos! */

/* Banner del centro */

.banner-centro {
    display: flex;
    justify-content: center;
    background-color: rgb(3, 3, 90);

}

/* Tamaño de la nav */

header {
    padding:7px;
}

.centrarnav{
    display: flex;
    justify-content: center;
}

.nav-item{
    font-size: 1.25rem;
}

.bordeSolid {
    border: 3px solid black;
    
}
.aliceblue {
    background-color: aliceblue;
    padding: 0% 10% 0% 10%;
}



/* Detalles del centro */

.margen {
    margin: 1% 12% 1% 12%;
}

.videos {
    display: flex;
    justify-content: center;
    margin-bottom: 79px;
}


/* Pisando detalles en css */

body {
    background-color: rgba(43, 111, 199, 0.774);
}

.estiloLetra{
    font-family: 'Roboto', sans-serif;
}
    
h1 {
    font-weight: bold;
    font-size: 50px;
    text-transform: uppercase;
    padding: 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    }

h2{
    font-size: 35px;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif;
}

p{
    text-align: left;
    font-size: 18px;
    margin-bottom: 50px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
}

/* acomodando banners de izq-der */
/* No queda bien alinieado las imagens por el tamaño , lo se tengo que cambiarlas pero bueno  */
.banner-left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
}

.banner-right{
    display: flex
    flex-direction: column
    width: 2%
} 

.espaciado {
    
    margin-top: 20%;
    margin-bottom: 0%;  
}
 /* ---------------------------------------- */
.footer {
    padding: 20px;
    background-color: rgb(7, 44, 58);
}

.iconosfot {
    padding: 15px;
}

